/* Style for image placeholder */
.image-placeholder-large {
    width: 100%;
    height: 400%;
    position: relative;
    background-color: aliceblue;
}

/* Style for product image */
.product-image-large {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 24px;
    color: #666666;
    height: 200px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}



/* Style for card header */
.card-header {
    background-color: #333333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}


/* Style for details title */
.details-title {
    font-size: 24px;
    color: #2c3e50;
    font-weight: bold; 
}


/* Style for comments section */
.comments-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}
